@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Ivan Derevianko</h3>

<address>
    2181 NE<br />
    Loshaven 15, Hillegom<br />
    The Netherlands<br />
    <abbr title="Phone">P:</abbr>
    +31 6 29-33-29-40
</address>

<address>
    <strong>Email:</strong> <a href="mailto:drussilla7@gmail.com">drussilla7@gmail.com</a><br />
    <strong>Skype:</strong> <a href="skype:drussilla7?call">Call <strong>drussilla7</strong></a>
</address>
